<div class='container'>
    <div>
        <b>
            Hello FAM Users. This is web app to help you with your finance, to be your Finance Assistant Manager. If you
            want to use our services you need to have an account
            or if you already have just login in. In
            task View Profile you can change something from your profile or just to check what you have.
            Accounts offers you to see your accounts or add new Account CARD(Credit Card or Cash). Any transaction you
            make, whether it's spending or adding money to your account, you can make in the Transactions tab.
            If make some mistakes in Transactions or Accounts you can edit or delete it. Saving is something that
            everyone needs. We want to save money and that will help you with that. Hope savings is the amount of money
            you want to save. InitialBalance will change if you make some Transactions. The goal is InitialBalance to be
            like hope savings. You can delete or edit just if you are admin on that work. This tab will help you if you
            need to find job.
        </b>
        <p>
            <b>WE HOPE YOU WILL ENJOY IN THIS FAM APP.</b>
        </p>
    </div>
</div>