.user_card {
    width: 550px;
    height: 550px;
    margin-top: 60px;
    margin-bottom: 20px;
    background: rgba(219, 219, 219, 0.8);
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  .brand_logo_container {
    position: absolute;
    height: 200px;
    width: 200px;
    top: -75px;
    border-radius: 50%;
    background: #d00000;
    padding: 10px;
    text-align: center;
  }
  .brand_logo {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 2px solid white;
  }
  .form_container {
    margin-bottom: 400px;
  }
  .register_btn {
    width: 100%;
    background: #971001;
    color: white;
  }
  .input-group-text {
    background: #971001;
    color: white;
    border: 0;
  }
  .gender {
    background-color: white;
    height: 38px;
    border-radius: 5px;
  }
  .icon_reg {
    width: 30px;
  }
  ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
  ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
  }
  form {
    position: absolute;
    margin-top: 100px;
  }
  .btn-light {
    color: darkred;
    margin-left: 60px;
  }
  a{
    color: darkred;
    padding-left: 100px;
  }
  